* {
    padding: 0%;
    margin: 0;
    background-color: #193C40;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 100vh;
    font-family: Hack, monospace;
}

div {
    color: #CACACA;
    text-align: center;
}

p {
    margin: 16px;
    font-size: 96px;
    color:aliceblue;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 1s ease-in-out;
    position: relative;
}

p::before {
    content: attr(data-item);
        transition: all 1s ease-in-out;
        color: #D96941;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 0;
        overflow: hidden;
}

p:hover::before {
    width: 100%;
}

nav {
    margin: 25px;
    background: #f9f9f9;
    padding: 16px;
}

nav .navMenu {
    list-style: none;
    display: flex;
}   

nav .navMenu li {
    margin: 50px;
}

nav .navMenu li a {
    text-decoration: none;
    color:aliceblue;
    font-size: 24px;
    font-weight: 400;
    transition: all 0.5s ease-in-out;
    position: relative;
    text-transform: uppercase;
}

nav .navMenu li a::before {
    content: attr(data-item);
    transition: 0.5s;
    color: #D96941;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    overflow: hidden;
}

nav .navMenu li a:hover::before {
    width: 200%;
    transition: all 0.5s ease-in-out;
}
